@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-header: #061528;
    --cor-de-fundo: #aad2f5;
    --cor-tabela-titulo: #061528;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: var(--cor-de-header);
    text-align: center;
    display: flex;
}

.cabecalho__logo {
    margin: 1% 25% 0 1%;
}

.logo {
    width: 150px;
    height: 100px;
    /* margin: 1% 25% 0 1%; */
    border-radius: 10px;
}

.cabecalho__titulo {
    color: #FFFFFF;
    padding: 2rem 0;
    align-self: center;
}



.menu__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu__item {
    list-style-type: none;
    margin-bottom: 10px;
}

.menu__lista_link {
    color: #FFFFFF;
    text-decoration: none;
}

.menu__lista_link:hover {
    text-decoration: underline;
}

.tabela {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 98px);
}

.tabela__titulo {
    border: 1px solid black;
    padding: 10px;
    background-color: var(--cor-tabela-titulo);
    color: #FFFFFF;
}

.tabela__coluna {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(223, 221, 221);
}